name: Integration testing

on:
  push:
    branches:
      - "**"

jobs:
  build:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: "Checkout sources"
        uses: "actions/checkout@v5"

      - name: "Configure Java"
        uses: "actions/setup-java@v4"
        with:
          distribution: "temurin"
          java-version: 22

      - name: "Setup Gradle"
        uses: "gradle/actions/setup-gradle@v4"

      - name: "Run the tests"
        run: "./gradlew test --configuration-cache --build-cache --no-watch-fs --stacktrace --scan"
