name: Integration testing

on:
  push:
    branches:
      - "**"

jobs:
  build:
    timeout-minutes: 15
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:
      - name: "Checkout sources"
        uses: actions/checkout@v3

      - name: "Configure Java"
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 18

      - name: "Gradle - Tests"
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test --no-watch-fs --parallel --stacktrace --max-workers=4

